@import "tongyongyangshi.css";

header {
    font-size: 0.38rem;
    line-height: 1.4rem;
    color: #4ebbfe;
    text-align: center;

    box-shadow: 0 0.03rem 0.43rem 0 rgba(41, 167, 255, 0.13);
display: flex;
    justify-content: space-between;

}

header .iconfont {
    line-height: 1.4rem;
    font-size: 1.2rem;
}
header .iconmore{
    font-size: 0.6rem;
    margin-right: 0.44rem;
}
